BasedOnStyle: Mozilla
IndentWidth: 8
TabWidth: 8
UseTab: ForIndentation
BreakBeforeBraces: WebKit
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: InlineOnly
IndentCaseLabels: false
AlwaysBreakAfterReturnType: None
AlwaysBreakAfterDefinitionReturnType: None
SpaceBeforeParens: Always
